{
  "extends": [
    "airbnb/base",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "mocha",
    "react"
  ],
  "rules": {
    "indent": [2, 4],
    "comma-dangle": 0,
    "semi": 0,
    "max-len": 0,
    "prefer-arrow-callback": 0
  }
}