.container {
  text-align: center;
}

.animation {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 0 auto;
    width: 500px;
}

/****************/
/**   pacman   **/
/****************/
@-webkit-keyframes rotate_pacman_half_up {
    0% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}

@keyframes rotate_pacman_half_up {
    0% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}

@-webkit-keyframes rotate_pacman_half_down {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

@keyframes rotate_pacman_half_down {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

.pacman {
    display: flex;
    align-items: center;
    width: 100px;
}

.pacman > div:first-of-type {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #e6e6e6;
    border-left: 50px solid #e6e6e6;
    border-bottom: 50px solid #e6e6e6;
    border-radius: 100%;
    -webkit-animation: rotate_pacman_half_up .42s 0s infinite;
    animation: rotate_pacman_half_up .42s 0s infinite;
}

.pacman > div:nth-child(2) {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #e6e6e6;
    border-left: 50px solid #e6e6e6;
    border-bottom: 50px solid #e6e6e6;
    border-radius: 100%;
    -webkit-animation: rotate_pacman_half_down .42s 0s infinite;
    animation: rotate_pacman_half_down .42s 0s infinite;
    position: relative;
    left: -100px
}


/*.pacman > div:nth-child(3) {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-right: 5px solid #CCCCCC;*/
    /*border-top: 5px solid #CCCCCC;*/
    /*border-left: 5px solid #CCCCCC;*/
    /*border-bottom: 5px solid #CCCCCC;*/
    /*border-radius: 100%;*/
    /*-webkit-animation: rotate_pacman_half_up .45s 0s infinite;*/
    /*animation: rotate_pacman_half_up .45s 0s infinite;*/
    /*position: relative;*/
    /*left: -160px;*/
    /*top: -30px;*/
/*}*/

/****************/
/** cool balls **/
/****************/
@-webkit-keyframes cool-balls {
    0% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    55% {
        opacity: 1
    }
    90% {
        opacity: 0.5
    }
    100% {
        -webkit-transform: translate(-180px, 0px) scale(0.7);
        transform: translate(-180px, 0px) scale(0.7);
    }
}

@keyframes cool-balls {
    0% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    55% {
        opacity: 1
    }
    90% {
        opacity: 0.5
    }
    100% {
        -webkit-transform: translate(-170px, 0px) scale(0.7);
        transform: translate(-170px, 0px) scale(0.7);
    }
}

.cool {

}

.cool > div:nth-child(1) {
    -webkit-animation: cool-balls 2.4s -1.8s infinite linear;
    animation: cool-balls 2.4s -1.8s infinite linear;
}

.cool > div:nth-child(2) {
    -webkit-animation: cool-balls 2.4s -1.2s infinite linear;
    animation: cool-balls 2.4s -1.2s infinite linear;
}

.cool > div:nth-child(3) {
    -webkit-animation: cool-balls 2.4s -0.6s infinite linear;
    animation: cool-balls 2.4s -0.6s infinite linear;
}

.cool > div:nth-child(4) {
    -webkit-animation: cool-balls 2.4s 0s infinite linear;
    animation: cool-balls 2.4s 0s infinite linear
}

.cool > div:nth-child(1),
.cool > div:nth-child(2),
.cool > div:nth-child(3),
.cool > div:nth-child(4) {
    margin-left:150px;
    margin-top:-12px;
    position: absolute;
    background-color: #e6e6e6;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

/****************/
/**   HUNT   **/
/****************/
@-webkit-keyframes hunt-balls {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.7);
        transform: scale(0.7)
    }
    55% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-180px, 0px) scale(2);
        transform: translate(-180px, 0px) scale(2);
    }
}

@keyframes hunt-balls {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.7);
        transform: scale(0.7)
    }
    55% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-180px, 0px) scale(2);
        transform: translate(-180px, 0px) scale(2);
    }
}

.hunt{
    margin-top: -20px;
    margin-right: 30px;
}

.hunt > div:nth-child(1) {
    -webkit-animation: hunt-balls 2.4s -1.8s infinite linear;
    animation: hunt-balls 2.4s -1.8s infinite linear;
}

.hunt > div:nth-child(2) {
    -webkit-animation: hunt-balls 2.4s -1.2s infinite linear;
    animation: hunt-balls 2.4s -1.2s infinite linear;
}

.hunt > div:nth-child(3) {
    -webkit-animation: hunt-balls 2.4s -0.6s infinite linear;
    animation: hunt-balls 2.4s -0.6s infinite linear;
}

.hunt > div:nth-child(4) {
    -webkit-animation: hunt-balls 2.4s 0s infinite linear;
    animation: hunt-balls 2.4s 0s infinite linear
}

.hunt > div:nth-child(1),
.hunt > div:nth-child(2),
.hunt > div:nth-child(3),
.hunt > div:nth-child(4) {
    margin-left:170px;
    margin-top:-12px;
    position: absolute;
    background-color: #e6e6e6;
    border-radius: 100%;
    margin: 0 0 0 15px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.hint {
    margin-top: 40px;
    color: #ccc;
    font-size: 16px;
}